[package]
name = "obsidian"
version = "0.1.0"
authors = ["Gan Jun Kai <kuhn96@gmail.com>", "Wai Pai Lee <pailee.wai@gmail.com>"]
edition = "2018"
description = "A Rust framework"
repository = "https://github.com/obsidian-rs/obsidian"

license = "MIT"

[dependencies]
hyper = "0.12.15"
futures = "0.1"
http = "0.1.14"
serde_json = "1.0.33"
serde_derive = "1.0.80"
serde = "1.0.80"
tokio-fs = "0.1.4"
tokio-io = "0.1.10"
url = "1.7.2"
